
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: flex;
}

canvas {
  pointer-events: auto;   /* allow clicks */
  z-index: 0;             /* at base layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#threejs-container {
  position: absolute;
  inset: 0;
}

#threejs-canvas {
  width: 100%;
  height: 100%;

  pointer-events: auto;
}

#ui-container {
  min-height: 100vh;
  display: grid;
  z-index: 1;
  pointer-events: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
}

.ui-container button,
.ui-container input,
.modal {
  pointer-events: auto;
}

.ui-container #solSelectBox {
  grid-column:2;
  grid-row:2;

  justify-self: center;
  align-self: end;

  background-color: #3636366f;
  height: 17.5vh;
  min-height: 15vh;
  padding: 10px;
  font-size: 15px;
  max-width: 400px;
  margin-bottom: 0;
  text-align: center;
}


.ui-container p {
  color: white;
  padding: 10px;
  font-size: clamp(0.5rem, 3vh, 1rem);

}

.ui-container #sidebarContainer {
  grid-column:3;
  grid-row:2;

  background-color: #ffffff00;
  padding: 10px;
  font-size: 15px;
  min-height: 5vh;
  width: 200px;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.ui-container #zoomControls {
  grid-column:3;
  grid-row:1;
  
  justify-self: end;   /* right edge of the cell */
  align-self: start;   /* top of the cell */

  margin-top: 2vh;
  margin-right: 0;

  font-size: 15px;
  height: 25vh;
  width: 7.5vw;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: center;
  place-items: center;
}



button.btn.btn-light{
  color: rgb(0, 0, 0);
  width: 50%;
}

.ui-container #panBar {

  grid-column:1;
  grid-row:1;
  justify-self: start;   /* right edge of the cell */
  align-self: start;   /* top of the cell */
  margin-left: 2vh;

  height: 2vh;
  width: 98vh;

  z-index:0;


}

.ui-container #tiltBar {

  grid-column:1;
  grid-row:1;
  justify-self: start;   /* right edge of the cell */
  align-self: start;   /* top of the cell */
  margin-top: 2vh;

  width: 2vh;

  z-index:0;

}



#daySelect {
  width: 100%; /* Full width inside modal */
  min-height: 2.5rem; /* Make it taller */
  font-size: 1rem; /* Normal readable font */
}




#daySelectorModal {
  z-index: 2000; /* higher than any fixed UI elements */
}

#panBar, #tiltBar, #zoomControls, #solSelectBox, #sidebarContainer {
  z-index: 1000; /* below modal */
}

#markerTooltip {
  pointer-events: none;
}